extends layout

block headers
    title Total RP 3

block css
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        body{
            background-image: url("images/backgrounds/#{background}");
        }

block content
    .title
        img.title(src='images/logo.png')
    .buttons
        .button
            a(href='http://curse.totalrp3.info', target='blank')= "Download on Curse"
                .icon(style='background-image: url("images/icons/crate.jpg")')
        .button
            a(href='/wiki')= "Knowledge base"
                .icon(style='background-image: url("images/trp3_wiki.gif")')
        .button
            a(href='http://forums.telkostrasz.be', target='blank')= "Forum"
                .icon(style='background-image: url("images/icons/people.jpg")')
        .button
            a(href='/localization')= "Help localizing TRP 3"
                .icon(style='background-image: url("images/icons/friends.jpg")')
    .buttons
        .button
            a(href='http://twitter.com/EllypseCelwe', target='blank')= "Follow @Ellypse"
                .icon(style='background-image: url("images/icons/ellypse.jpg")')
        .button
            a(href='http://twitter.com/Telkostrasz', target='blank')= "Follow @Telkostrasz"
                .icon(style='background-image: url("images/icons/telko.jpg")')

    script(src="//static.getclicky.com/js", type="text/javascript")
    script(type="text/javascript").
        try{
            clicky.init(100841256);
        }
        catch(e){}
