extends layout

block headers
    title Total RP 3

block css
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        body{
            background-image: url("images/backgrounds/#{background}");
        }

block content
    .title
        img.title(src='images/logo.png')
    .buttons
        a(href='http://curse.totalrp3.info', target='blank')
            .button= "Download on Curse"
                img.icon(src='images/icons/crate.jpg')
        a(href='/wiki')
            .button= "Knowledge base"
                img.icon(src='images/icons/book.jpg')
        a(href='http://forums.telkostrasz.be', target='blank')
            .button= "Forum"
                img.icon(src='images/icons/people.jpg')
        a(href='http://loc.totalrp3.info', target='blank')
            .button= "Help localizing TRP 3"
                img.icon(src='images/icons/friends.jpg')
    .buttons
        a(href='http://twitter.com/EllypseCelwe', target='blank')
            .button= "Follow @Ellypse"
                img.icon(src='images/icons/ellypse.jpg')
        a(href='http://twitter.com/Telkostrasz', target='blank')
            .button= "Follow @Telkostrasz"
                img.icon(src='images/icons/telko.jpg')

    script(src="//static.getclicky.com/js", type="text/javascript")
    script(type="text/javascript").
        try{
            clicky.init(100841256);
        }
        catch(e){}
