doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name='viewport', content = 'width=device-width, initial-scale=1')
        if meta
            meta(name="description" content=meta.description)
            title= meta.title + '-' + config.site_title
        else
            title= config.site_title
        link(rel='icon' href="/favicon.ico")
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/highlightjs/styles/monokai.css')
        link(rel='stylesheet', href='/stylesheets/raneto.css')
    body
        header.header
            .container-fluid
                .row
                    .col-sm-6
                        a.logo(href="/wiki")= config.site_title
                    .col-sm-6
                        form.search-form.form-inline.pull-right(role="form" action="/wiki/")
                            .form-group
                                label.sr-only(for="search")= "Search"
                                input#search.form-control(type="search", name="search", size="30", value=search, placeholder="Search")
        .container-fluid
            block content
        footer.footer
            .container-fluid
                p.copyright.pull-right!= config.copyright
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/highlightjs/highlight.pack.js')
        script(src='/bower_components/fitvids/jquery.fitvids.js')
        script(src='/bower_components/masonry/dist/masonry.pkgd.min.js')
        script(src='/javascripts/libs/raneto.js')
        script(type="text/javascript", src="http://static.wowhead.com/widgets/power.js")
        script.
            var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true };