extends layout

block content

    .home-search.jumbotron.row
        form.search-form.form-inline(role="form", action="#{config.base_url}/")
            .form-group
                label.sr-only(for="home-search")= "Search the knowledge base"
                .input-group
                    input#home-search.form-control.input-lg(type='search', name='search', size='50', placeholder='Search the knowledge base')
                    span.input-group-btn
                        button.btn.btn-primary.btn-lg(type='submit') Search
    .home-categories.row
        each page in pages
            if page.is_index
                if page.files.length > 0
                    .col.col-sm-4
                        div(class="#{page.class}").panel.panel-default
                            h2.panel-heading= "Main Articles"
                            ul.list-group.pages
                                each file in page.files
                                    li.list-group-item.page
                                        a(href="#{config.base_url}/#{file.slug}")= file.title
            else
                .col.col-sm-4
                    div(class="#{page.class}").panel.panel-default
                        h2.panel-heading= page.title
                        ul.list-group.pages
                            each file in page.files
                                li.list-group-item.page
                                    a(href="#{config.base_url}/#{file.slug}")= file.title
